@import '_h5bp';

$desktop-width: 990px;
$body-font: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$background-color: white;
$accent-color-a: rgb(107, 153, 240);
$accent-color-a-text: #fefefe;
//$accent-color-b:
$header-height: 60px;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $body-font;
  font-weight: 300;
  background-color: $background-color;
  box-sizing: border-box;
  min-height: 100%;
}

.app-bar {
//  background: $accent-color-a;

  order: 0;
  display: flex;
  justify-content: space-between;

  .menu {
    order: 0;
  }

  .logo {
    order: 10;
    //  font-size: 2em;
    font-size: 1.7em;
    line-height: $header-height;
    margin: 0 16px;
    padding: 0;
    max-width: none;
    font-weight: 300;

    strong {
//      font-weight: 400;
      font-weight: 300;
      color: $accent-color-a;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-weight: normal;
    }
  }

  button {
    width: 60px;
    height: $header-height;
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0;
    display: inline-block;
    transition: background-color 0.2s ease-out;
    -webkit-tap-highlight-color: transparent;

    img {
      height: 24px;
      width: 24px;
    }
  }
  button:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  button:focus {
    background-color: rgba(0, 0, 0, 0.2);
    outline: 0;
  }
  button:active {
    background-color: rgba(0, 0, 0, 0.4);
  }

}

.base,
p,
ul,
ol {
  font-size: 19px;
//  font-size: calc(30vmin + 30px);
}


// MAIN ITEMS
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  order: 5;
}

.content.hello {
  width: 450px;
  margin: auto;

  h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 100;
  }

  p {
    font-size: 4rem;
  }

  & ~ .space-after-content {
    height: 25%;
  }

}

.space-after-content {
  order: 10;
}
/*
$mqIterations: 19;
@mixin fontResize($iterations)
{
  $i: 1;
  @while $i <= $iterations
  {
    @media all and (min-width: 100px * $i) {
      body { font-size:0.2em * $i; }
    }
    $i: $i + 1;
  }
}
@include fontResize($mqIterations);
*/
// HEADER ITEMS
.app-bar-container {
  order: 0;
  display: flex;
}

.navdrawer-container {
  order: 10;

  ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  ul li {
    padding: 0;
    &::before {
      content: none;
    }
  }

  ul li a {
    padding: 16px 20px;
    line-height: 1.4;
    display: block;
    text-decoration: none;
    color: #3a4046;
    transition: color 0.2s ease-out;
    white-space: nowrap;

    &:hover {
      color: rgba($accent-color-a, 0.80);
    }

    &:focus {
      color: rgba($accent-color-a, 0.70);
      outline: 0;
    }

    &:active {
      color: rgba($accent-color-a, 0.60);
    }
  }
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: $desktop-width) {
  button.menu {
    display: none;
  }
}

.space-after-content {
  margin: 0 auto;
}

.life-tree {
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  opacity: 40;

//  $size-1: 20px;
  $size-2: 2px;

  .line {
    transition: all 0.7s ease-out;
    position: absolute;
    display: block;

    &.color-dark-blue {
      background-color: rgba(darken($accent-color-a, 20), 0.5);
    }

    &.color-red {
      background-color: rgba(#F04895, 0.5);
    }

    &.color-violet {
      background-color: rgba(#8666F0, 0.5);
    }

    &.horizontal {
      height: $size-2;
      width: 0;
//      width: $size-1;
    }
    &.vertical {
//      height: $size-1;
      height: 0;
      width: $size-2;
    }
  }
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
