@import '_h5bp';

$body-font: 'Roboto Condensed', Helvetica, Arial, sans-serif;
$background-color: white;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: $body-font;
  font-weight: 300;
  background-color: $background-color;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
}


@mixin reverseZOrder($iterations)
{
  $i: 1;
  @while $i <= $iterations
  {
    &:nth-child(#{$i}) {
      z-index: $iterations - $i;
    }
    $i: $i + 1;
  }
}

$sectionHeight: 300px;
$sectionCount: 3;

.sections {
  position: relative;
  width: 80%;
  height: $sectionHeight;
  overflow-y: scroll;
//  height: 100%;
  margin: 0 auto;
  top: 30px;
/*
  .filler {
    position: relative;
    height: $sectionHeight * 3;
    width: 2px;
    background-color: #000088;
  }
  */
  .container {
//    position: absolute;
//    position: relative;
//    height: $sectionHeight;
//    width: 700px;
    width: 100%;

//    position: absolute;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    section {
//      position: absolute;
      position: relative;
      width: 100%;
      //    height: 100%;
      height: $sectionHeight;
      //transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
//      @include reverseZOrder(3);

      &.red {
        background-color: #ff293d;
      }

      &.blue {
        background-color: #00b0ff;
      }

      &.pink {
        background-color: #ff7ded;
      }
    }

    section.pressed {
      transform: scale(0.8);
    }

    &.previous-or-first {
//      top: 100px;
//      margin-top: 0;
//      z-index: 2;
//      overflow-y: scroll;
      section {
//        position: sticky;
//        top: 30px;
//        position: fixed;
        //        margin-top: $sectionHeight;
        //        margin-bottom: $sectionHeight;
      }
      //      pointer-events: none;
      //      section:nth-child(2) {
      //        margin-top: $sectionHeight;
      //      }
      //      section:last-child {
      //      section:nth-last-child(2) {
      //        top: $sectionHeight * 2;
      //      }
    }
    //    &.previous-or-first::-webkit-scrollbar {
    //      pointer-events: all;
    //      width:16px;
    //      background-color:#cccccc;
    //    }

    &.current-or-second {
      top: 50px;
//      margin-top: $sectionHeight;
//      z-index: 3;
//      overflow-y: scroll;
//      section {
//        margin-bottom: $sectionHeight;
//        margin-top: $sectionHeight;
//      }
    }

    &.next {
//      margin-top: $sectionHeight*2;
//      z-index: 4;
//      overflow-y: scroll;
//      section:last-child {
        //      section:nth-last-child(2) {
//        margin-top: $sectionHeight * 2;
//      }
    }

    /*
    &.previous {
      z-index: 4;
      height: $sectionHeight;
      overflow-y: scroll;
      section {
        margin-bottom: $sectionHeight;
      }
    }
    */
/*
    &.pass-through {
      pointer-events: none;
      overflow: hidden;
    }
*/

  }
}


.frame {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 600px;
  height: 300px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 136, 0.34);

  .fill {
    position: relative;
    width: 80%;
    height: 300%;
    z-index: -1;
  }

}
.frame2 {
  left: 640px;
}

.stick {
  position: absolute;
  position: sticky;
  overflow: hidden;
//  margin: 5%;
  width: 500px;
//  width: 100%;
  height: 200px;
  background-color: #d500f9;
//  z-index: 1;
  &.two {
    top: 300px;
    background-color: #3acef9;
//    z-index: 2;
  }
}
