.mainnav {
  grid-area: nav;
}
.subhead {
  grid-area: subhead;
}
.quote {
  grid-area: quote;
}
.content {
  grid-area: content;
}
.feature-image {
  grid-area: feature;
}
@media only screen and (min-width: 460px) and (max-width: 700px) {
  .wrapper {
    display: grid;
    width: 90%;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "nav" "subhead" "quote" "content" "feature";
  }
}
@media only screen and (min-width: 700px) and (max-width: 980px) {
  .wrapper {
    display:grid;
    width: 90%;
    grid-template-columns: 20% 5% auto;
    grid-template-rows: auto;
    grid-template-areas: ". . subhead" "nav . quote" "nav . feature" "nav . content" ;
  }
}
@media only screen and (min-width: 980px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 40px 3fr 40px 1fr;
    grid-template-rows: auto ;
    grid-template-areas: ". . subhead . ." "nav . feature . quote" "nav . content . quote";
  }
}
